body{
    background-color: rgb(0, 0, 0);
  }
  
  .intro{
    color:aliceblue;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
  }
  
  .name{
    color:rgb(255, 123, 0);
    font-size:150px;
    text-align: center;
  }
  
  .frase{
    color: white;
    text-align: center;
  }
  
  .saiba{
    color: white;
    font-size: 25px;
    margin-left: 150px;
    text-decoration-line: underline;
    margin-top: 40px;
  }
  
  .embreve{
    color: white;
    font-size: 25px;
    text-align: center;
   margin-top: -53px;
  }
  
  footer{
    margin-top: 90px;
    color: azure;
    text-align: center;
    font-size: 20px;
  }